services:
  postgres:
    image: postgres:15
    container_name: chat-db
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  application:
    build: .
    env_file:
      - .env
    container_name: app
    depends_on:
      - postgres
    ports:
      - "8080:8080"

volumes:
  pgdata: